{% form_theme form _self %}

<section class="site-popup-window popup-main-content js--site-popup-window">
    <div class="site-w site-default-text">
        <div class="site-flex site-flow site-flow-bottom mb40">
            <div class="site-flex-column site-flex-main x4 m10">
                {% include "includes/item-minicard.html.twig" with {'item': item, 'class' : 'site-flex-item site-product small js-data' } %}
            </div>
            <div class="site-flex-column x3-4 m10">
            {{ form_start(form) }}
                {% if not app.user %}
                    {{ form_row(form.name, {'label': 'Name:'}) }}
                    {{ form_row(form.phone, {'label': 'Phone:'}) }}
                    {{ form_row(form.email, {'label': 'E-mail:'}) }}
                {% endif %}
                {{ form_row(form.formType) }}
                {{ form_row(form.itemId) }}
                {% if form.comment is defined %}
                    {{ form_row(form.comment, {'label': form.formType.vars.value == 1 ? 'Address:' : 'Theme:'}) }}
                {% endif %}
                {{ form_row(form.question, {'label': form.formType.vars.value == 2 ? 'Message:' : 'Comment:'}) }}
                <button class="site-button yellow w-full big form-field-margin-flow"><span class="text">ОТПРАВИТЬ ЗАЯВКУ</span></button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="popup-main-close js--popup-main-close"><span class="svg close"><!-- svg `cross.svg` begin -->

<svg  version="1.1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     width="11" height="10" viewBox="-0.982 -0.4 11 10" enable-background="new -0.982 -0.4 11 10" xml:space="preserve">

<polygon points="0.54,0 0,0.54 4.26,4.74 0,9 0.54,9.54 4.74,5.28 9,9.54 9.54,9 5.28,4.74 9.54,0.54 9,0 4.74,4.26 
    "/>
</svg>
<!-- svg `cross.svg` end --></span></div>
</section>

{% block form_row %}
    <div class="form-field form-field-margin-flow text center big">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <span class="svg icon"></span>
    </div>
{% endblock form_row %}

